
body { background-image: url(Diseño\ sin\ título.png);
background-repeat: repeat;
}

main {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.container-header {
   background-image: url(photo.jpg);
    background-size: cover;
    background-position: center center;
    height: 93vh;
    color: #fcf9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}





